.logo{
    display: block;
    margin: auto;
    object-fit: contain;
    height: 50px;
     border-radius: 50%;
    box-shadow: 0 10px 20px #afe468;
}
    


body{
    background-image: linear-gradient(white,rgb(149, 247, 58));
    height: 100vh;
}

.container{
    max-width: 1000px;
    background-image: linear-gradient(rgb(149, 247, 58),white);
    display: block;
    margin: 10px auto;
    height: 60vh;
    border-top: solid rgb(247, 244, 74);
    border-bottom: solid rgb(247, 81, 81) ;
    border-radius: 20px;
    padding: 30px;
    overflow-y: auto;
}

.message{
    width: 25%;
    background-color: #f7a5a5;
    padding: 10px;
    margin: 10px 5px;
    border-bottom: solid #ffc800;
    border-radius: 20%;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.messageInp{
    width: 90%;
    height: 20px;
    border-radius: 10px;
}
.btn{
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
   
}
h1{
    display: block;
    margin: auto;
    text-align: center;
    font-style: italic;
    font-family: monospace;
    font-size: 24px;
    color: #58bb5b;
    box-shadow: 0 3;
    text-shadow: 13px 6px 3px #b3e47d;
}